h1{
    color:rgb(247, 145, 145);
}
backgroud:{ 
    color:rgb(255, 191, 191)

}
body { 
      color: rgb(245, 164, 164);
}

#nossosestilos{
     height: 500px;
     margin-left: 600px;


}

#estilos{ 
    
    height: 500px;
    margin-left: 600px;

}
#loja{ 
    height: 500px;
    margin-left: 600px;


}